<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            <svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg>
            <a href="https://github.com/{{site.github_username}}" style="color:gray" onmouseover="this.style.color='blue'" onmouseout="this.style.color='gray'">
              GitHub
            </a>
          </li>
          <li>
            <svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
            </svg>
            <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" style="color:gray" onmouseover="this.style.color='blue'" onmouseout="this.style.color='gray'">
              LinkedIn
            </a>
          </li>
          <li>
            <svg class="svg-icon">
              <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
            </svg>
            <a href="https://www.twitter.com/{{site.twitter_username}}" style="color:gray" onmouseover="this.style.color='blue'" onmouseout="this.style.color='gray'" >
              Twitter
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
      </div>
      <div class="footer-col footer-col-3">
        <p>{{site.description}}</p>
      </div>
    </div>
  </div>
</footer>